<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-card-title>Home</ion-card-title>
      <ion-card-subtitle>Sistema de cadastro de Produtos</ion-card-subtitle>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content>
    <p>
      Sistema para Exemplificar a construção de um cadastro em angular.
    </p>

    <ion-list>
      <ion-item *myFor="let n em [1, 2, 3]">
        <ion-label>
          {{ n }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
